*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    height:100vh ;
   display: flex;
   justify-content: center;
   align-items: center;
}

img{
 
    width:50px;
    animation-name: anim1;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    cursor:pointer;

}

@keyframes anim1 {
    0%{
        transform: translate(0,0) rotateY(0deg) scale(1);
    }
    25%{
        transform: translate(400px,0) rotateY(0deg) scale(2);
    }
    50%{
        transform: translate(400px,0) rotateY(180deg) scale(3);
    }
    51%{
        transform: rotateY(180deg);
    }
    /* 75%{
        transform: translate(-320px,0)  scale(2)

    } */
    100%{
        transform: translate(0,0) rotateY(0deg) scale(1);
    }
}